mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]
  header.header.header--sticky.header--blue(data-header="sticky" data-scroll-lock-fill-gap="" data-hide-point="50")
    .container
      a.logo.header__logo(href="index.html" aria-label="Переход на главную страницу")
        +icon("logo", 150, 50).some-class
      nav.header__nav
        ul.header__list
          li.header__item: a.header__link(href="#") Компоненты
          li.header__item: a.header__link(href="#") Кейсы
          li.header__item: a.header__link(href="#") Гайды
          li.header__item: a.header__link.header__link--blue(href="#" target="_blank") Лига А.
      button.header__burger(type="button" aria-label="Переключатель отображения меню" aria-pressed="false" data-burger="")
        +icon("burger-menu", 30, 30).header__burger-text
        +icon("icon-close", 30, 30).header__burger-icon(aria-hidden="true")

